* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 450px;
    height: 450px;
    border: 2px solid #000;
    display: grid;
    gap: 0px;
}

.hover {
    background-color: #000;
}

#squares-label {
    display: block;
}
